<launch>  

<!-- Start outlier removal node -->
<node pkg="ras_group8_camera_pcl" type="outlier_removal" name="ras_group8_outlier_removal" output="screen">

    <remap from="input" to="/camera/depth_registered/points"/>
<remap from="output" to="/outlier_removed_points"/>
  </node>




<!--Start voxel node -->
<node pkg="ras_group8_camera_pcl" type="example_voxelgrid" name="ras_group8_voxelgrid" output="screen">

    <remap from="input" to="/outlier_removed_points"/>
<remap from="output" to="/voxel_points"/>
  </node>



<!--Start planar segmentation node -->
<node pkg="ras_group8_camera_pcl" type="color_clusters" name="ras_group8_color_clusters" output="screen">
    
<remap from="input" to="/voxel_points"/>
  </node>


</launch>
